In [3]:
dic={'hello':'salom'}
dic

{'hello': 'salom'}

In [43]:
my_dict={0: 10, 1: 20}
#{0: 10, 1: 20, 2: 30}
my_dict
my_dict[2]=20
my_dict
type(my_dict)

dict

In [31]:
#Quyidagi lug'atlarni birlashtirib, yangi birini yaratish uchun Python skriptini yozing.
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

result = {}
for d in (dic1, dic2, dic3):
    result.update(d)
result

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [30]:
k=9
dicc={a:a*a for a in range(1,k+1)}
print(dicc)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [33]:
n=15
son={w:w*w for w in range(1,n+1)} 
son

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

In [66]:
my_set=set({2,3,4,4,4,3,1})
my_set

{1, 2, 3, 4}

In [68]:
for x in my_set:
    print(x)

2
3
4

In [69]:
#Write a Python program to add member(s) to a set.

my_set.add(8)
my_set.update((23,34))
my_set

{2, 3, 4, 8, 23, 34}

In [70]:
my_set.pop()
my_set.remove(23)
my_set

{3, 4, 8, 34}

In [80]:
my_set1={64,3,2,4,5,3,2,2,}
my_set1.clear
my_set1

{2, 3, 4, 5, 64}