In [7]:
meva=['olma','banan','behi','nok,uzum']
meva[2]

'behi'

In [ ]:
num=[23,23,33,4,55,6]
num1=[43,0,56,7,1]
num+num1

[23, 23, 33, 4, 55, 6, 43, 0, 56, 7, 1]

In [62]:
#Raqamlar ro'yxati berilgan bo'lsa, birinchi, o'rtacha va oxirgi elementlarni ajratib oling va yangi ro'yxatga saqlang.
new_list=[]
num=[23,23,33,3,4,55,6]
num1=[43,0,56,7,1]
num[0]
num[-1]
bir=num[0]
bir
orta=num[len(num)//2]
orta
oxiri=num[-1]
oxiri
new_list=list([(print(bir),print(orta),print(oxiri))])
new_list

23
3
6

[(None, None, None)]

In [71]:
#Create a list of your five favorite movies and convert it into a tuple.

#Beshta sevimli filmingiz ro'yxatini yarating va uni to'plamga aylantiring.

like_n=['bir','ikki','uch','tort','besh']
like_n

new_taple=tuple(like_n)
new_taple

('bir', 'ikki', 'uch', 'tort', 'besh')

In [76]:
#Given a list of cities, check if "Paris" is in the list and print the result.

#Shaharlar ro'yxatini hisobga olgan holda, "Parij" ro'yxatda yoki yo'qligini tekshiring va natijani chop eting.
city=['toshkent','jizzax','qarshi']

print("Paris" in city)

False

In [84]:
#Duplicate a List Without Using Loops
#Create a list of numbers and duplicate it without using loops.

nums=[4,5,1,2,3,2,5,4,9]
cop=nums[:]
cop
cop1=list(nums)
cop1
cop2=nums.copy()
cop2

[4, 5, 1, 2, 3, 2, 5, 4, 9]

In [108]:
nums=[4,5,1,2,3,2,5,4,9]
nums[0]=1
nums
nums[-1]=0
nums

[1, 5, 1, 2, 3, 2, 5, 4, 0]

In [ ]:
#Create a tuple of numbers from 1 to 10 and print a slice from index 3 to 7.

n_tuple=1,2,3,4,5,6,7,8,9,10
n_tuple[2:7]

(3, 4, 5, 6, 7)

In [113]:
rang='kok','malla','kok','kok'
rang.count('kok')

3

In [114]:
hayvon='sher','qoy'
hayvon.index('sher')

0

In [ ]:
tupl1=1,2,3,0
tupl2=3,5,1
tupl1+=(tupl2)
tupl1

(1, 2, 3, 0, 3, 5, 1)

In [121]:
#Given a list and a tuple, find and print their lengths.
nums=[4,5,1,2,3,2,5,4,9]
len(nums)
tupl1=1,2,3,0
len(tupl1)

4

In [124]:
tupl1=1,2,3,0,4
tupl1
my_list=list(tupl1)
my_list

[1, 2, 3, 0, 4]

In [127]:
#Given a tuple of numbers, find and print the maximum and minimum values.

tupl1=1,2,3,0,4
print(max(tupl1))
print(min(tupl1))

4
0

In [134]:
tupl1=tuple('salom')
tupl1
llist=list(tupl1)
llist.reverse()
llist

['m', 'o', 'l', 'a', 's']