In [ ]:
# Yangi ma'lumotlar bazasini yarating va Roster deb nomlangan jadvalga uchta maydon qo'shing: Ism, Turi va Yosh. 
# Ism va Turi ustunlari matn maydonlari bo'lishi kerak, Yosh ustuni esa butun son maydoni bo'lishi kerak.


import sqlite3

# 1. Bazaga ulanish (yangi fayl bo'lsa, yaratadi)
conn = sqlite3.connect('mydatabase.db')  # 'mydatabase.db' — bu bazaning nomi, fayl ko'rinishida

# 2. Cursor yaratish (SQL buyruqlarini bajarish uchun)
cursor = conn.cursor()

# 3. Roster jadvalini yaratish
cursor.execute('''
CREATE TABLE IF NOT EXISTS Roster (
    Name TEXT,
    Species TEXT,
    Age INTEGER
)
''')

# 4. O'zgarishlarni saqlash
conn.commit()

# 5. Ulanishni yopish
conn.close()

print("Bazaga ulanish va jadval yaratildi!")

Bazaga ulanish va jadval yaratildi!

In [10]:
conn
conn = sqlite3.connect('mydatabase.db')  # 'mydatabase.db' — bu bazaning nomi, fayl ko'rinishida

conn.execute(''' insert into roster (name, species,age) 
               values ('Benjamin Sisko',	'Human',	40),
               ('Jadzia Dax'	,'Trill',	300),('Kira Nerys',	'Bajoran',29)''')
conn.close()
print(conn)

<sqlite3.Connection object at 0x000001D44088EB60>

In [11]:
import sqlite3

# Bazaga ulanish
conn = sqlite3.connect('mydatabase.db')

# Ma'lumotni yangilash: Jadzia Dax -> Ezri Dax
conn.execute('''
    UPDATE Roster
    SET Name = 'Ezri Dax'
    WHERE Name = 'Jadzia Dax'
''')

# O'zgarishlarni saqlash
conn.commit()

# Ulanishni yopish
conn.close()

print("Yangilandi: Jadzia Dax -> Ezri Dax")

Yangilandi: Jadzia Dax -> Ezri Dax

In [13]:
import sqlite3
conn=sqlite3.connect('mydatabase.db')
conn.execute('''  
select name,age from roster
where  Species='Bajoran'

''')
conn.close()