In [7]:
print(10)

10

In [8]:
print(20)

20

# Numerics in Python
### This is 3 hashtag text
##### Numerics in Python

# Numerics in Python
## 3 Built in Numeric Types 
### 1 int integers
### 2 float floating numbers
### 3 complex complex numbers(i,j)

## 2 additional numeric types
### decimal(4,2), 10.08, 2.10, 3.00
### fractions  =  rational numbers (kasrlar)

## Integers = butun sonlar

In [9]:
myint = 7
print(myint)

7

In [13]:
myint = 14
# print(myint)

x = 2

y = 1
myint

14

In [ ]:
num = "20"
num2 = int(num)

type(num2)
# print(10+3+3)

16

In [ ]:
# ikkilik sanoq sistemasi, 0, 1
# 3 lik sanoq sistemasi, 0,1,2
# 4 lik sanoq sistemasi, 0,1,2,3
# 10 lik sanoq sistemasi, 0, ..... 9

In [ ]:
num = "20"

num2 = int(num,3)
num2

6

In [23]:
longint = 8_000_000_000

type(longint)

int

In [26]:
myfloat = 2.40000
type(myfloat)
print(myfloat)

2.4

In [ ]:
strnum = "10.8"

type(strnum)

floatnum = float(strnum)

print(type(floatnum))

<class 'float'>

In [ ]:
comp = 9 + 10j

type(comp)
comp.real
comp.imag

complex

### Numeric Operations

In [3]:
# + operator

a = 10
b = 8

c = a + b + 7

c

25

In [4]:
# - operator

a = 10
b = 8

c = a - b - 1

c

1

In [5]:
print(b)

8

In [6]:
# *, /

a = 10
b = 3

print(a * b)
print(a / b)

30
3.3333333333333335

In [7]:
# // operator = whole(int) part of division 

b = 2
c = a // b

print(c)

5

In [31]:
# % operator = remainder(mod) part of division


a = 16
b = 3

c = a % b

c

1

In [9]:
divmod(19,3) #(olti,1)
divmod(1,3) # (0, 1)

(0, 1)

In [10]:
# abs = absolute = modul

a = -10

abs(a)
# a

10

In [11]:
# ** = power

a = 8 ** 3

a

512

In [12]:
# assignment operator is equal sign (=) and variable naming



# alphanumeric characters and undescrores (A-z 0-9, _)
# variable names cannot start with numbers
# python is case sensitive (num, Num, NUM are three different objects)
# do not create variable names with python keywords


# Son10_hello = 10

# Son10_hello


# my@num = 10

# my@num

_10myson = 10

num = 10

# print(num)

num = 10

Num = 20

# print(num)

# print(id(num))
# print(id(Num))



# print = 10

# print

In [13]:
print("Hello world")

Hello world

In [14]:
print

del a

In [15]:
a

NameError: name 'a' is not defined

In [16]:
del print

NameError: name 'print' is not defined

In [17]:
print(10)

10

In [18]:
print(a)

NameError: name 'a' is not defined