In [ ]:
import sqlite3
import pandas as pd

conn=sqlite3.connect(r'C:\Users\hp\Downloads\chinook (1).db')
cursor=conn.cursor()
deta=cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
for tup in deta:
    print(f"{tup[0]} table")
    print(pd.read_sql_query(f"select * from {tup[0]}", conn))
    print("\n\n\n")

albums table
     AlbumId                                              Title  ArtistId
0          1              For Those About To Rock We Salute You         1
1          2                                  Balls to the Wall         2
2          3                                  Restless and Wild         2
3          4                                  Let There Be Rock         1
4          5                                           Big Ones         3
..       ...                                                ...       ...
342      343                             Respighi:Pines of Rome       226
343      344  Schubert: The Late String Quartets & String Qu...       272
344      345                                Monteverdi: L'Orfeo       273
345      346                              Mozart: Chamber Music       274
346      347  Koyaanisqatsi (Soundtrack from the Motion Pict...       275

[347 rows x 3 columns]




sqlite_sequence table
            name   seq
0         genres    25
1    media_types     5
2        artists   275
3         albums   347
4         tracks  3503
5      employees     8
6      customers    59
7       invoices   412
8  invoice_items  2240
9      playlists    18




artists table
     ArtistId                                               Name
0           1                                              AC/DC
1           2                                             Accept
2           3                                          Aerosmith
3           4                                  Alanis Morissette
4           5                                    Alice In Chains
..        ...                                                ...
270       271   Mela Tenenbaum, Pro Musica Prague & Richard Kapp
271       272                             Emerson String Quartet
272       273  C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon...
273       274                                      Nash Ensemble
274       275                              Philip Glass Ensemble

[275 rows x 2 columns]




customers table
    CustomerId  FirstName      LastName  \
0            1       Lu√≠s     Gon√ßalves
1            2     Leonie        K√∂hler
2            3   Fran√ßois      Tremblay
3            4      Bj√∏rn        Hansen
4            5  Franti≈°ek   Wichterlov√°
5            6     Helena          Hol√Ω
6            7     Astrid        Gruber
7            8       Daan       Peeters
8            9       Kara       Nielsen
9           10    Eduardo       Martins
10          11  Alexandre         Rocha
11          12    Roberto       Almeida
12          13   Fernanda         Ramos
13          14       Mark       Philips
14          15   Jennifer      Peterson
15          16      Frank        Harris
16          17       Jack         Smith
17          18   Michelle        Brooks
18          19        Tim         Goyer
19          20        Dan        Miller
20          21      Kathy         Chase
21          22    Heather       Leacock
22          23       John        Gordon
23          24      Frank       Ralston
24          25     Victor       Stevens
25          26    Richard    Cunningham
26          27    Patrick          Gray
27          28      Julia       Barnett
28          29     Robert         Brown
29          30     Edward       Francis
30          31     Martha          Silk
31          32      Aaron      Mitchell
32          33      Ellie      Sullivan
33          34       Jo√£o     Fernandes
34          35   Madalena       Sampaio
35          36     Hannah     Schneider
36          37       Fynn    Zimmermann
37          38     Niklas      Schr√∂der
38          39    Camille       Bernard
39          40  Dominique      Lefebvre
40          41       Marc        Dubois
41          42      Wyatt        Girard
42          43   Isabelle       Mercier
43          44      Terhi    H√§m√§l√§inen
44          45   Ladislav        Kov√°cs
45          46       Hugh      O'Reilly
46          47      Lucas       Mancini
47          48   Johannes  Van der Berg
48          49  Stanis≈Çaw        W√≥jcik
49          50    Enrique         Mu√±oz
50          51     Joakim     Johansson
51          52       Emma         Jones
52          53       Phil        Hughes
53          54      Steve        Murray
54          55       Mark        Taylor
55          56      Diego     Guti√©rrez
56          57       Luis         Rojas
57          58      Manoj        Pareek
58          59       Puja    Srivastava

                                             Company  \
0   Embraer - Empresa Brasileira de Aeron√°utica S.A.
1                                               None
2                                               None
3                                               None
4                                   JetBrains s.r.o.
5                                               None
6                                               None
7                                               None
8                                               None
9                                   Woodstock Discos
10                              Banco do Brasil S.A.
11                                            Riotur
12                                              None
13                                             Telus
14                                     Rogers Canada
15                                       Google Inc.
16                             Microsoft Corporation
17                                              None
18                                        Apple Inc.
19                                              None
20                                              None
21                                              None
22                                              None
23                                              None
24                                              None
25                                              None
26                                              None
27                                              None
28                                              None
29                                              None
30                                              None
31                                              None
32                                              None
33                                              None
34                                              None
35                                              None
36                                              None
37                                              None
38                                              None
39                                              None
40                                              None
41                                              None
42                                              None
43                                              None
44                                              None
45                                              None
46                                              None
47                                              None
48                                              None
49                                              None
50                                              None
51                                              None
52                                              None
53                                              None
54                                              None
55                                              None
56                                              None
57                                              None
58                                              None

                                     Address                 City   State  \
0            Av. Brigadeiro Faria Lima, 2170  S√£o Jos√© dos Campos      SP
1                    Theodor-Heuss-Stra√üe 34            Stuttgart    None
2                          1498 rue B√©langer             Montr√©al      QC
3                           Ullev√•lsveien 14                 Oslo    None
4                              Klanova 9/506               Prague    None
5                              Rilsk√° 3174/6               Prague    None
6       Rotenturmstra√üe 4, 1010 Innere Stadt               Vienne    None
7                            Gr√©trystraat 63             Brussels    None
8                        S√∏nder Boulevard 51           Copenhagen    None
9                  Rua Dr. Falc√£o Filho, 155            S√£o Paulo      SP
10                        Av. Paulista, 2022            S√£o Paulo      SP
11                          Pra√ßa Pio X, 119       Rio de Janeiro      RJ
12                              Qe 7 Bloco G             Bras√≠lia      DF
13                            8210 111 ST NW             Edmonton      AB
14                       700 W Pender Street            Vancouver      BC
15                 1600 Amphitheatre Parkway        Mountain View      CA
16                           1 Microsoft Way              Redmond      WA
17                              627 Broadway             New York      NY
18                           1 Infinite Loop            Cupertino      CA
19                      541 Del Medio Avenue        Mountain View      CA
20                          801 W 4th Street                 Reno      NV
21                          120 S Orange Ave              Orlando      FL
22                           69 Salem Street               Boston      MA
23                     162 E Superior Street              Chicago      IL
24                     319 N. Frances Street              Madison      WI
25                       2211 W Berry Street           Fort Worth      TX
26                           1033 N Park Ave               Tucson      AZ
27                               302 S 700 E       Salt Lake City      UT
28                    796 Dundas Street West              Toronto      ON
29                          230 Elgin Street               Ottawa      ON
30                     194A Chain Lake Drive              Halifax      NS
31                        696 Osborne Street             Winnipeg      MB
32                            5112 48 Street          Yellowknife      NT
33                        Rua da Assun√ß√£o 53               Lisbon    None
34  Rua dos Campe√µes Europeus de Viena, 4350                Porto    None
35                        Tauentzienstra√üe 8               Berlin    None
36                          Berger Stra√üe 10            Frankfurt    None
37                       Barbarossastra√üe 19               Berlin    None
38                             4, Rue Milton                Paris    None
39                            8, Rue Hanovre                Paris    None
40                       11, Place Bellecour                 Lyon    None
41                    9, Place Louis Barthou             Bordeaux    None
42                          68, Rue Jouvence                Dijon    None
43                           Porthaninkatu 9             Helsinki    None
44                         Erzs√©bet krt. 58.             Budapest    None
45                          3 Chatham Street               Dublin  Dublin
46                    Via Degli Scipioni, 43                 Rome      RM
47                     Lijnbaansgracht 120bg            Amsterdam      VV
48                              Ordynacka 10               Warsaw    None
49                        C/ San Bernardo 85               Madrid    None
50                               Celsiusg. 9            Stockholm    None
51                         202 Hoxton Street               London    None
52                              113 Lupus St               London    None
53                            110 Raeburn Pl           Edinburgh     None
54                         421 Bourke Street               Sidney     NSW
55                        307 Macacha G√ºemes         Buenos Aires    None
56                           Calle Lira, 198             Santiago    None
57                       12,Community Centre                Delhi    None
58                         3,Raj Bhavan Road            Bangalore    None

           Country  PostalCode                Phone                 Fax  \
0           Brazil   12227-000   +55 (12) 3923-5555  +55 (12) 3923-5566
1          Germany       70174     +49 0711 2842222                None
2           Canada     H2G 1A7    +1 (514) 721-4711                None
3           Norway        0171      +47 22 44 22 22                None
4   Czech Republic       14700     +420 2 4172 5555    +420 2 4172 5555
5   Czech Republic       14300     +420 2 4177 0449                None
6          Austria        1010       +43 01 5134505                None
7          Belgium        1000     +32 02 219 03 03                None
8          Denmark        1720       +453 3331 9991                None
9           Brazil   01007-010   +55 (11) 3033-5446  +55 (11) 3033-4564
10          Brazil   01310-200   +55 (11) 3055-3278  +55 (11) 3055-8131
11          Brazil   20040-020   +55 (21) 2271-7000  +55 (21) 2271-7070
12          Brazil   71020-677   +55 (61) 3363-5547  +55 (61) 3363-7855
13          Canada     T6G 2C7    +1 (780) 434-4554   +1 (780) 434-5565
14          Canada     V6C 1G8    +1 (604) 688-2255   +1 (604) 688-8756
15             USA  94043-1351    +1 (650) 253-0000   +1 (650) 253-0000
16             USA  98052-8300    +1 (425) 882-8080   +1 (425) 882-8081
17             USA  10012-2612    +1 (212) 221-3546   +1 (212) 221-4679
18             USA       95014    +1 (408) 996-1010   +1 (408) 996-1011
19             USA   94040-111    +1 (650) 644-3358                None
20             USA       89503    +1 (775) 223-7665                None
21             USA       32801    +1 (407) 999-7788                None
22             USA        2113    +1 (617) 522-1333                None
23             USA       60611    +1 (312) 332-3232                None
24             USA       53703    +1 (608) 257-0597                None
25             USA       76110    +1 (817) 924-7272                None
26             USA       85719    +1 (520) 622-4200                None
27             USA       84102    +1 (801) 531-7272                None
28          Canada     M6J 1V1    +1 (416) 363-8888                None
29          Canada     K2P 1L7    +1 (613) 234-3322                None
30          Canada     B3S 1C5    +1 (902) 450-0450                None
31          Canada     R3L 2B9    +1 (204) 452-6452                None
32          Canada     X1A 1N6    +1 (867) 920-2233                None
33        Portugal        None   +351 (213) 466-111                None
34        Portugal        None   +351 (225) 022-448                None
35         Germany       10789     +49 030 26550280                None
36         Germany       60316     +49 069 40598889                None
37         Germany       10779      +49 030 2141444                None
38          France       75009   +33 01 49 70 65 65                None
39          France       75002   +33 01 47 42 71 71                None
40          France       69002   +33 04 78 30 30 30                None
41          France       33000   +33 05 56 96 96 96                None
42          France       21000   +33 03 80 73 66 99                None
43         Finland       00530     +358 09 870 2000                None
44         Hungary      H-1073                 None                None
45         Ireland        None      +353 01 6792424                None
46           Italy       00192      +39 06 39733434                None
47     Netherlands        1016      +31 020 6223130                None
48          Poland      00-358     +48 22 828 37 39                None
49           Spain       28015      +34 914 454 454                None
50          Sweden       11230     +46 08-651 52 52                None
51  United Kingdom      N1 5LH    +44 020 7707 0707                None
52  United Kingdom    SW1V 3EN    +44 020 7976 5722                None
53  United Kingdom     EH4 1HH    +44 0131 315 3300                None
54       Australia        2010   +61 (02) 9332 3633                None
55       Argentina        1106  +54 (0)11 4311 4333                None
56           Chile        None    +56 (0)2 635 4444                None
57           India      110017    +91 0124 39883988                None
58           India      560001     +91 080 22289999                None

                            Email  SupportRepId
0            luisg@embraer.com.br             3
1           leonekohler@surfeu.de             5
2             ftremblay@gmail.com             3
3           bjorn.hansen@yahoo.no             4
4        frantisekw@jetbrains.com             4
5                 hholy@gmail.com             5
6          astrid.gruber@apple.at             5
7           daan_peeters@apple.be             4
8           kara.nielsen@jubii.dk             4
9        eduardo@woodstock.com.br             4
10               alero@uol.com.br             5
11  roberto.almeida@riotur.gov.br             3
12       fernadaramos4@uol.com.br             4
13             mphilips12@shaw.ca             5
14            jenniferp@rogers.ca             3
15             fharris@google.com             4
16        jacksmith@microsoft.com             5
17              michelleb@aol.com             3
18               tgoyer@apple.com             3
19            dmiller@comcast.com             4
20            kachase@hotmail.com             5
21             hleacock@gmail.com             4
22         johngordon22@yahoo.com             4
23             fralston@gmail.com             3
24             vstevens@yahoo.com             5
25       ricunningham@hotmail.com             4
26           patrick.gray@aol.com             4
27            jubarnett@gmail.com             5
28               robbrown@shaw.ca             3
29            edfrancis@yachoo.ca             3
30           marthasilk@gmail.com             5
31         aaronmitchell@yahoo.ca             4
32         ellie.sullivan@shaw.ca             3
33            jfernandes@yahoo.pt             4
34              masampaio@sapo.pt             4
35      hannah.schneider@yahoo.de             5
36           fzimmermann@yahoo.de             3
37            nschroder@surfeu.de             3
38       camille.bernard@yahoo.fr             4
39    dominiquelefebvre@gmail.com             4
40        marc.dubois@hotmail.com             5
41          wyatt.girard@yahoo.fr             3
42      isabelle_mercier@apple.fr             3
43      terhi.hamalainen@apple.fi             3
44       ladislav_kovacs@apple.hu             3
45           hughoreilly@apple.ie             3
46         lucas.mancini@yahoo.it             5
47        johavanderberg@yahoo.nl             5
48         stanis≈Çaw.w√≥jcik@wp.pl             4
49         enrique_munoz@yahoo.es             5
50      joakim.johansson@yahoo.se             5
51         emma_jones@hotmail.com             3
52          phil.hughes@gmail.com             3
53          steve.murray@yahoo.uk             5
54           mark.taylor@yahoo.au             4
55       diego.gutierrez@yahoo.ar             4
56             luisrojas@yahoo.cl             5
57        manoj.pareek@rediff.com             3
58       puja_srivastava@yahoo.in             3




employees table
   EmployeeId  LastName FirstName                Title  ReportsTo  \
0           1     Adams    Andrew      General Manager        NaN
1           2   Edwards     Nancy        Sales Manager        1.0
2           3   Peacock      Jane  Sales Support Agent        2.0
3           4      Park  Margaret  Sales Support Agent        2.0
4           5   Johnson     Steve  Sales Support Agent        2.0
5           6  Mitchell   Michael           IT Manager        1.0
6           7      King    Robert             IT Staff        6.0
7           8  Callahan     Laura             IT Staff        6.0


In [3]:
#Har bir mijoz tomonidan xaridlar uchun sarflangan jami summani toping (hisob-fakturalarni inobatga olgan holda).
al=pd.read_sql_query("select * from albums", conn)
print(al)
n=pd.read_sql_query("select * from sqlite_sequence", conn)
print(n)

     AlbumId                                              Title  ArtistId
0          1              For Those About To Rock We Salute You         1
1          2                                  Balls to the Wall         2
2          3                                  Restless and Wild         2
3          4                                  Let There Be Rock         1
4          5                                           Big Ones         3
..       ...                                                ...       ...
342      343                             Respighi:Pines of Rome       226
343      344  Schubert: The Late String Quartets & String Qu...       272
344      345                                Monteverdi: L'Orfeo       273
345      346                              Mozart: Chamber Music       274
346      347  Koyaanisqatsi (Soundtrack from the Motion Pict...       275

[347 rows x 3 columns]
            name   seq
0         genres    25
1    media_types     5
2        artists   275
3         albums   347
4         tracks  3503
5      employees     8
6      customers    59
7       invoices   412
8  invoice_items  2240
9      playlists    18

In [6]:
import pandas as pd
import sqlite3

# Ma'lumotlar bazasiga ulanish
conn = sqlite3.connect(r'C:\Users\hp\Downloads\chinook (1).db')  # yoki sizdagi bazaning nomi

# So‚Äòrov: mijozlar bo‚Äòyicha umumiy sarf
query = """
SELECT 
    c.CustomerId,
    c.FirstName || ' ' || c.LastName AS CustomerName,
    SUM(i.Total) AS TotalSpent
FROM customers c
JOIN invoices i ON c.CustomerId = i.CustomerId

ORDER BY TotalSpent DESC;
"""

# So‚Äòrovni bajarish
df = pd.read_sql_query(query, conn)
print(df)

   CustomerId    CustomerName  TotalSpent
0           1  Lu√≠s Gon√ßalves      2328.6

In [1]:
import pandas as pd

# Customers jadvali
customers_df = pd.DataFrame({
    'CustomerId': [1, 2, 3, 4, 5, 6],
    'FirstName': ['Lu√≠s', 'Leonie', 'Fran√ßois', 'Bjorn', 'Franti≈°ek', 'Helena'],
    'LastName': ['Gon√ßalves', 'K√∂hler', 'Tremblay', 'Hansen', 'Wichterlov√°', 'Hol√Ω']
})

# Invoices jadvali (Total = invoice summasi)
invoices_df = pd.DataFrame({
    'InvoiceId': [1, 2, 3, 4, 5, 6, 7],
    'CustomerId': [1, 2, 3, 2, 1, 3, 1],
    'Total': [10.0, 15.5, 8.0, 9.5, 12.0, 6.0, 20.0]
})

In [2]:
# JOIN: invoices bilan customers'ni birlashtiramiz
merged_df = pd.merge(invoices_df, customers_df, on='CustomerId')

# Foydalanuvchi to'liq ismini yaratamiz
merged_df['FullName'] = merged_df['FirstName'] + ' ' + merged_df['LastName']

In [ ]:
import pandas as pd

# Assume CSVs or dataframes already loaded:
# customers_df, invoices_df, invoice_items_df, tracks_df

# Join invoice_items with invoices to get CustomerId
invoice_items_merged = invoice_items_df.merge(invoices_df, on='InvoiceId')

# Join with tracks to get AlbumId
invoice_items_merged = invoice_items_merged.merge(tracks_df[['TrackId', 'AlbumId']], on='TrackId')
# Count tracks bought by each customer per album
customer_album_purchases = invoice_items_merged.groupby(['CustomerId', 'AlbumId'])['TrackId'].nunique().reset_index(name='TracksPurchased')

# Get total number of tracks in each album
tracks_per_album = tracks_df.groupby('AlbumId')['TrackId'].nunique().reset_index(name='TotalTracksInAlbum')

# Merge to compare purchases vs album total
customer_album_purchases = customer_album_purchases.merge(tracks_per_album, on='AlbumId')
# Add flag: did the customer buy the full album?
customer_album_purchases['BoughtFullAlbum'] = customer_album_purchases['TracksPurchased'] >= customer_album_purchases['TotalTracksInAlbum']
# For each customer, did they EVER buy a full album?
full_album_flags = customer_album_purchases.groupby('CustomerId')['BoughtFullAlbum'].any().reset_index()

# Customers who NEVER bought full albums = prefer individual tracks
individual_track_buyers = full_album_flags[full_album_flags['BoughtFullAlbum'] == False]

# Calculate percentage
total_customers = customers_df['CustomerId'].nunique()
individual_track_buyers_count = individual_track_buyers['CustomerId'].nunique()

percentage = (individual_track_buyers_count / total_customers) * 100

print(f"üìä Percentage of customers who prefer individual tracks: {percentage:.2f}%")

In [ ]:
import pandas as pd

# Example: load from CSVs (replace with actual file paths or data)
# customers_df = pd.read_csv('customers.csv')
# invoices_df = pd.read_csv('invoices.csv')
# invoice_items_df = pd.read_csv('invoice_items.csv')
# tracks_df = pd.read_csv('tracks.csv')

# 1Ô∏è‚É£ Merge invoice_items with invoices to get CustomerId per TrackId
invoice_items_with_customer = invoice_items_df.merge(invoices_df, on='InvoiceId')

# 2Ô∏è‚É£ Add AlbumId via TrackId from tracks_df
invoice_items_with_album = invoice_items_with_customer.merge(tracks_df[['TrackId', 'AlbumId']], on='TrackId')

# 3Ô∏è‚É£ Count how many tracks each customer bought per album
customer_album_tracks = (
    invoice_items_with_album
    .groupby(['CustomerId', 'AlbumId'])['TrackId']
    .nunique()
    .reset_index(name='TracksPurchased')
)

# 4Ô∏è‚É£ Get total number of tracks in each album
total_tracks_per_album = (
    tracks_df
    .groupby('AlbumId')['TrackId']
    .nunique()
    .reset_index(name='TotalTracksInAlbum')
)

# 5Ô∏è‚É£ Merge to compare purchased vs available tracks
customer_album_tracks = customer_album_tracks.merge(total_tracks_per_album, on='AlbumId')

# 6Ô∏è‚É£ Flag whether customer bought full album or only a subset
customer_album_tracks['BoughtFullAlbum'] = (
    customer_album_tracks['TracksPurchased'] >= customer_album_tracks['TotalTracksInAlbum']
)

# 7Ô∏è‚É£ Group by customer: check if they EVER bought a full album
customer_behavior = (
    customer_album_tracks
    .groupby('CustomerId')['BoughtFullAlbum']
    .any()
    .reset_index()
)

# 8Ô∏è‚É£ Filter customers who NEVER bought a full album
individual_track_buyers = customer_behavior[customer_behavior['BoughtFullAlbum'] == False]

# 9Ô∏è‚É£ Calculate percentage
total_customers = customers_df['CustomerId'].nunique()
individual_track_customer_count = individual_track_buyers['CustomerId'].nunique()

percentage = (individual_track_customer_count / total_customers) * 100

print(f"üìä Percentage of customers who prefer individual tracks: {percentage:.2f}%")