In [12]:
import pandas as pd
task=pd.read_csv(r'C:\Users\hp\Downloads\sales_data.csv')
task
task.groupby("Category")[['Quantity','Price','Quantity']].agg(['sum','mean','max'])
task.groupby("Category").agg({'Quantity':'sum'},{'Price':'mean'},{'Quantity':'max'})

             Quantity
Category
Clothing          157
Electronics       183
Home              144

In [35]:
# Har bir kategoriya bo'yicha eng ko'p sotilgan mahsulotni sotilgan umumiy miqdor asosida aniqlang.
task
total_quantity = task.groupby(['Category', 'Product'])['Quantity'].sum().reset_index()
total_quantity
#Har bir kategoriya bo'yicha eng ko'p sotilgan mahsulotni topish
idx = total_quantity.groupby('Category')['Quantity'].idxmax()
idx
most_sold_products = total_quantity.loc[idx]

print(most_sold_products)

       Category          Product  Quantity
8      Clothing            Jeans        15
27  Electronics         Smart TV        15
46         Home  Pressure Cooker        14

In [37]:
task
savdo=task.groupby('Date')['Quantity'*'Price']

TypeError: can't multiply sequence by non-int of type 'str'

In [47]:
task
import pandas as pd



# Step 1: Calculate total sales for each row
task['TotalSales'] = task['Quantity'] * task['Price']

# Step 2: Group by Date and sum total sales
sales_by_date = task.groupby('Date')['TotalSales'].sum()

# Step 3: Find the date with the maximum total sales
max_sales_date = sales_by_date.idxmax()
max_sales_value = sales_by_date.max()

# Output
print(f"The date with the highest total sales is: {max_sales_date}")
print(f"Total sales on that date: ${max_sales_value}")

The date with the highest total sales is: 2023-01-07
Total sales on that date: $15150

In [85]:
task2=pd.read_csv(r'C:\Users\hp\Downloads\customer_orders.csv')
# Step 1: Count number of orders per customer
order_counts = task2.groupby('CustomerID').size()



# Step 3: Filter the original DataFrame
filtered_df = task2[task2['CustomerID'].isin(order_counts[order_counts <= 20].index)]

print(filtered_df)

    OrderID  CustomerID                 Product  Quantity  Price
2         3         103              Smartphone         3    400
5         6         104                  Tablet         2    300
7         8         103        Wireless Earbuds         2    120
9        10         104            Coffee Maker         1     50
10       11         105                Sneakers         2     50
11       12         103             Dress Shirt         3     25
12       13         104           Kitchen Scale         1     20
15       16         103            Formal Shoes         1     60
16       17         104            Cookware Set         1     60
17       18         105        Wireless Speaker         1     70
20       21         103              Steam Iron         1     30
21       22         104           Comforter Set         1     45
22       23         105  Point-and-Shoot Camera         1    250
25       26         103        Wireless Charger         1     35
26       27         104                 Sweater         2     35
27       28         105               Projector         1    200
30       31         103          Blu-ray Player         1     70
31       32         104             Sport Shoes         2     40
32       33         105                   Drone         1    300
35       36         103       Bluetooth Headset         1     50
36       37         104                  Hoodie         1     25
37       38         105              Desk Chair         1     75
40       41         103            Coffee Table         1    100
41       42         104               Bookshelf         1     80
42       43         105             Denim Skirt         1     25
45       46         103            Formal Shoes         1     60
46       47         104                Smart TV         1   1000
47       48         105             Cargo Pants         2     30
50       51         103        Wireless Earbuds         2    120
51       52         104          Gaming Console         1    400
52       53         105           Comforter Set         1     45
55       56         103                Backpack         1     40
56       57         104               Desk Lamp         1     25
57       58         105             Dress Shirt         2     25
60       61         103        Wireless Charger         1     35
61       62         104              Steam Iron         2     30
62       63         105                Sneakers         1     50
65       66         103         Fitness Tracker         1     60
66       67         104                   Jeans         1     30
67       68         105             Cargo Pants         1     30
70       71         103       Bluetooth Headset         1     50
71       72         104          Blu-ray Player         1     70
72       73         105                  Hoodie         1     25
75       76         103                 Sweater         1     35
76       77         104            Coffee Table         2    100
77       78         105               Projector         1    200
80       81         103             Cargo Pants         1     30
81       82         104              Sunglasses         2     15
82       83         105            Formal Shoes         1     60
85       86         103                 Toaster         2     25
86       87         104                Smart TV         1   1000
87       88         105            Casual Shoes         1     30
90       91         103            Formal Shirt         2     35
91       92         104                   Jeans         1     30
92       93         105          Wireless Mouse         1     25
95       96         103                 Blender         1     60
96       97         104             Sport Shoes         2     40
97       98         105           Comforter Set         1     45

In [92]:
# Bir dona uchun o'rtacha narxi $120 dan yuqori bo'lgan mahsulotlarni buyurtma bergan mijozlarni aniqlang.
product=task2.groupby('Product')['Price'].agg('mean').reset_index()
product[product['Price']>=120]

                   Product   Price
16                   Drone   300.0
21          Gaming Console   400.0
22              Headphones   150.0
26                  Laptop   800.0
27  Point-and-Shoot Camera   250.0
28               Projector   200.0
29                Smart TV  1000.0
30              Smartphone   400.0
38                  Tablet   300.0
41        Wireless Earbuds   120.0

In [96]:
# Har bir buyurtma qilingan mahsulot uchun jami miqdor va jami narxni toping,
#  va jami miqdori 5 dan kam bo'lgan mahsulotlarni chiqarib tashlang.
t=task2.groupby('Product')[['Quantity','Price']].agg('sum')
t[t['Quantity']>=5]

                  Quantity  Price
Product
Cargo Pants              6    120
Dress Shirt              5     50
Formal Shirt             6    105
Smartphone               5    800
Sport Shoes              5    120
Sunglasses               5     60
Wireless Earbuds         6    360

In [116]:
# import pandas as pd
# import sqlite3

# # SQL: faqat SELECT
# conn = sqlite3.connect('population.db')
# conn


import sqlite3
import pandas as pd

# SQLite bazaga ulanish
conn = sqlite3.connect("task/population.db")

# SQL orqali ma'lumotlarni olish
query = "SELECT * FROM population;"
df_population = pd.read_sql(query, conn)

conn.close()  # Ulanishni yopamiz

OperationalError: unable to open database file

In [117]:
# Har bir odamning salarysini qaysi categoryga tushishini topamiz
def assign_salary_category(salary, bands):
    for _, row in bands.iterrows():
        min_sal = row['MinSalary']
        max_sal = row['MaxSalary']
        if pd.isna(max_sal):  # Agar yuqori chegara yo'q boâ€˜lsa (open-ended)
            if salary >= min_sal:
                return row['Category']
        elif min_sal <= salary <= max_sal:
            return row['Category']
    return 'Unknown'  # Agar mos kelmasa

# Har bir odamga toifa beramiz
df_population['SalaryCategory'] = df_population['Salary'].apply(lambda x: assign_salary_category(x, df_bands))

NameError: name 'df_population' is not defined